* {
    font-family: 'Raleway', sans-serif;
}

body {
    /*background-color: #F2F2F2;*/
}


#form-login-col {
	height: 50vh;
}

footer, .footer, .footp {
	background-color:  #363636;
    color: white !important;
}

.footer {
    padding-bottom: 3rem;
}

.card {
    height: 100%;
}

.card-title,
.card-subtitle {
    text-align: center;
}

/* card hover */
.card-image {
overflow: hidden;
}

.card:hover figure img {
    transform: scale(1.2);
}

figure img {
    transition: 0.6s ease;
}

.button-border-remove {
    border: none;
}

.delete-item, .shop-item-delete, .shop-item-edit {
    position: absolute;
    z-index: 5;
    opacity: 0.5;

}
.delete-item {
    left: 0;
}
 
.shop-item-delete  {
    left: 0;
}

.hide {
    display: none;
}

.shop-item-edit {
    right: 0;
}

.dash-details {
    background-color: #363636;
    color: white;
    padding: 5px;
}
.dash-img {
    padding: 40px 40px 0 40px;
}

.dash-section {
    padding-bottom: 0;
}

#form-login-col {
    height: 70vh;
}

.indeximg {
    background-color: white;
}

.hide-orders  {
    display: none;
}

.hide-users   {
    display: none;
}




